/* general styles */

:root {
  /*set global variables*/
  --dark-gray: #323232;
  --green: #596d48;
  --blue: #6d8bdf;
  --light-gray: #f9fafb;
  --red: #c03535;
  --left-space: 48px;
}

*,
*::before,
*::after {
  /*css reset*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /*footer support*/
  position: relative;
  min-height: 100%;
}

body {
  /*overall document settings*/
  background-color: white;
  color: var(--dark-gray);
  font-family: "Roboto", sans-serif;
  line-height: 1.6;

  /*footer support*/
  margin-bottom: 50px;
}

@font-face {
  font-family: "Norse Bold";
  src: url("./assets/Norse-Bold.otf");
}

.content {
  min-height: 100vh;
  display: flex;
}

/* sidebar */

.image-sidebar {
  background-position: center center;
  background-image: url("./assets/mtRainier.jpg");
  background-size: cover;
  background-color: var(--green);
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--light-gray);
  text-align: center;
}

.image-sidebar a {
  color: var(--light-gray);
}

.image-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Norse Bold";
  font-size: 6em;
  margin-top: 30vh;
  padding: 16px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.image-banner img {
  height: 140px;
}

.image-attribution {
  font-size: 1em;
  padding-bottom: 10px;
}

/* content */

.main-content {
  flex: 5;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content > p {
  font-size: 1.25em;
  font-weight: bold;
  max-width: 70%;
  margin-left: var(--left-space);
  margin-bottom: 8px;
}

.main-content #psa {
  color: var(--red);
  margin-top: 1em;
}

/* form */

.user-inputs-container {
  color: var(--dark-gray);
  background-color: white;
  margin-top: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: var(--left-space);

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px -2px 5px 5px rgba(0, 0, 0, 0.1);
}

.user-inputs-container h2 {
  font-size: 1.25em;
  font-weight: bold;
}

.user-inputs-container .required-info {
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 20px;
}

.user-inputs-container label {
  font-size: 0.75em;
  font-weight: 600;
  letter-spacing: 1px;
}

.user-inputs-container input {
  background-color: var(--light-gray);
  border: 1px solid var(--dark-gray);
  border-radius: 4px;
  padding: 4px 8px;
  width: 100%;
  font-size: 1em;
  margin-right: 32px;
}

.inputs > div {
  display: flex;
  flex-wrap: wrap;
  column-gap: 84px;
  row-gap: 18px;
  margin-bottom: 18px;
}

.inputs label {
  display: block;
}

input:valid {
  border: 1px solid var(--green);
  background-color: rgba(89, 109, 72, 0.1);
}

input:focus {
  border: 1px solid var(--blue);
  background-color: var(--light-gray);

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

/* input styles */

input:focus + label,
input[required]:valid + label,
input:not(:placeholder-shown) + label {
  display: block;
}

input:invalid {
  border: 1px solid var(--red);
  background-color: rgba(185, 35, 38, 0.25);
}

input:focus:invalid {
  background-color: transparent;
  border: 1px solid var(--red);
}

input:invalid + label {
  color: var(--red);
}

input:valid {
  border: 1px solid var(--green);
  background-color: rgba(139, 195, 74, 0.25);
}

input:focus:valid {
  border: 1px solid var(--green);
  background-color: transparent;
}
input:valid + label {
  color: var(--green);
}

input:placeholder-shown {
  background-color: transparent;
  border: 1px solid var(--dark-gray);
}

input::placeholder {
  color: var(--dark-gray);
}

input:focus::placeholder {
  color: transparent;
}

input:disabled {
  background-color: rgb(203, 203, 203);
  cursor: not-allowed;
}

#pass-info {
  margin-top: 0.2em;
  font-size: 0.8em;
  color: var(--dark-gray);
}

.error-message {
  margin-top: 0;
  font-size: 0.8em;
  color: var(--red);
}

.hidden {
  display: none;
}

.valid {
  color: var(--green);
}

.valid:before {
  position: relative;
  left: -2px;
  content: "✔";
}

.invalid {
  color: var(--red);
}

.invalid:before {
  position: relative;
  left: -2px;
  content: "✘";
}

#submit {
  margin-left: var(--left-space);
  margin-top: 32px;
  border: none;
  background-color: var(--green);
  padding: 12px 48px;
  border-radius: 8px;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  color: var(--light-gray);
  font-weight: 700;
  font-size: 1em;
}

p.log-in {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 32px;
}

.log-in a {
  color: var(--green);
  font-weight: bold;
  text-decoration: none;
}

/*footer*/

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: var(--light-gray);

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px -2px 5px 5px rgba(0, 0, 0, 0.1);
}

.fa-github,
.fa-heart,
.fa-linkedin {
  color: var(--green);
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover,
.fa-linkedin:hover {
  transform: rotateY(360deg) scale(1.4);
  color: var(--green);
}

.fa-heart:hover {
  transform: scale(1.3);
  color: var(--green);
}

@media (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .image-banner {
    margin-top: 0;
  }
  .image-banner-text {
    display: none;
  }
  #form > .inputs {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .footer > p {
    display: none;
  }
}
